{% extends 'base.html' %}
{% block title %}Payment Detail{% endblock %}
{% block content %}
    <h1>Payment Details</h1>
    <p>Passenger: {{ payment.booking.passenger.user.first_name }} {{ payment.booking.passenger.user.last_name }}</p>
    <p>Amount: {{ payment.amount }}</p>
    <p>Payment Date: {{ payment.payment_date }}</p>
    <a href="{% url 'payment_update' payment.pk %}">Edit</a>
    <a href="{% url 'payment_delete' payment.pk %}">Delete</a>
    <a href="{% url 'payment_list' %}">Back to List</a>
{% endblock %}
